.custom-button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.custom-button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.custom-button.success {
  color: #5c9210;
}

.custom-button.danger {
  color: #944317;
}

.custom-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
